* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #191919;
  --body: #5c5c5c;
}


body {
  background-color: var(--body);
  height: 100vh;
  
  header {
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      width: 100vw;
      height: 150px;
      background-color: var(--background);
      color: white;
      letter-spacing: 1.2px;
      font-family: "Pathway Gothic One";
    }
  }

  main {
    width: 70%;
    margin: auto;

    .main-section {
      width: 70%;
      height: auto;
      margin: auto;
      margin-top: 3rem;
      border: 3px solid #f5f5f5;
      border-radius: 20px;
      background-color: #adadad;
      padding: 3rem;
      font-family: "Cousine";
      font-size: 18px;

      .password-response-container {
        .password-response {
          background-color: #f5f5f5;
          border: 2px solid #191919;
          border-radius: 20px;
          padding: 1rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .btn {
          border: 2px solid var(--background);
          border-radius: 20px;
          width: 70px;
          height: 40px;
          cursor: pointer;
          margin-top: 10px;

          /* display: none; */

          img {
            width: 15px;
          }
        }
      }

      .checkboxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        div {
          width: 35%;
          padding: 1rem;
        }
      }

      .generate-btn {
        button {
          width: 10%;
          height: 45px;
          background-color: #191919;
          color: #f5f5f5;
          font-size: 18px;
          border: 3px solid #f5f5f5;
          border-radius: 20px;
          cursor: pointer;
        }

        button:hover {
          border: 3px solid #191919;
          background-color: #f5f5f5;
          color: #191919;
          font-size: 18px;
        }
      }
    }
  }


}
